@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  /* Adicione o Success para seus Dashboards */
  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --primary: 24 95% 53%; /* #EA580C */
    --primary-foreground: 0 0% 100%;

    --secondary: 38 92% 50%; /* #F59E0B */
    --secondary-foreground: 222 47% 11%;

    --success: 161 94% 30%;
    --success-foreground: 0 0% 100%;

    --destructive: 346 84% 61%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 24 95% 53%;
    --radius: 0.5rem;
  }
}
